body{
    margin: 0 auto;
}

/* Header  */
.header {
    width: 100%;
    padding-top: 15px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: black;
}

.nav__link {
    color: black;
}




/* DETAIL */
.detail {
    padding-top: 100px;
}

.detail-holder{
    display: flex;
    justify-content: space-between;
}

.detail-right {
    padding-left: 50px;
}

.detail-price{
    padding-top: 10px;
    text-align: center;
}

.detail-title {
    padding-top: 15px;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}

.detail-content{
    padding-top: 50px;
    line-height: 150%;
    display: list-item;
}

.detail-button{
    padding-left: 25px;
    padding-top: 190px;
}

.btn-secondary{
    text-transform: uppercase;
}